{%  extends 'base.html' %}
{% block content%}
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="sticky-top">
             {% block source %} {% include
            "source.html" %} {% endblock %}
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row">
            {% block articles %} {% include "article.html" %}
          </div>
        </div>

        {% endblock %}
      </div>
    </div>
{% endblock %}